[Unit]
Description=Tempo Distributed Tracing
Documentation=https://grafana.com/docs/tempo/latest/
After=network.target

[Service]
Type=simple
User=tempo
Group=tempo
ExecStart=/usr/local/bin/tempo -config.file=/etc/tempo/tempo-config.yml
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tempo

[Install]
WantedBy=multi-user.target
